aiohttp
altair
APScheduler
ccxt
colorama
discord-webhook
fastapi
fpdf2
joblib
matplotlib
numpy
openpyxl
pandas
plotly
psycopg2-binary
python-binance
python-dotenv
python-multipart
python-telegram-bot
pytz
pybit
reportlab
requests
schedule
scikit-learn
scipy
seaborn
sqlalchemy
statsmodels
streamlit
streamlit-aggrid
streamlit-autorefresh
ta
tqdm
uvicorn
watchdog
websockets
xlsxwriter
xgboost
yfinance
